<div class="container ng-cloak" ng-controller="availController" ng-cloak>
    <div class="row  mar-b-30">
        <div id="portfoliolist">
            
            <div class="col-md-12">
              <!-- SHOW ERROR/SUCCESS MESSAGES --> 
              <div id="message" ng-show="message">{{message}}</div>
                <!--<h2 id="forms-horizontal">Horizontal form</h2>-->
                <!--<p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form. Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.</p>-->
                <div class="bs-example" date="date">
                    <form class="form-horizontal" role="form" ng-submit="submit()">
                      <div class="form-group ng-cloak" ng-cloak>
                        <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <span class="date form-control ng-cloak" disabled="true" id="inputDate3" ng-cloak>
                              {{availBookingDetail.StartDate}}
                            </span>
                            <input type="hidden" class="form-control" id="lessondate" name="lessondate" ng-model="formData.lessondate" value="{{availBookingDetail.StartDate}}" placeholder="{{availBookingDetail.StartDate}}" disabled="true">
                        </div>
                      </div>
                      <div class="form-group ng-cloak" ng-cloak>
                        <label for="inputPassword3" class="col-sm-2 control-label">Day</label>
                        <div class="col-sm-10 ng-cloak" ng-cloak>
                          <span class="day form-control ng-cloak" disabled="true" id="inputDay3" ng-cloak>
                            {{availBookingDetail.StartDate}}
                          </span>
                         <!-- <input type="text" class="form-control" id="inputPassword3" placeholder="{{availBookingDetail.StartDay}}" disabled="true">-->
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Time</label>
                        <div class="col-sm-10">
                          <span class="form-control ng-cloak" disabled="true" id="inputTime3" ng-cloak>
                            {{availBookingDetail.StartTime}}
                          </span>
                          <!--<input type="text" class="form-control" id="inputPassword3" placeholder="{{availBookingDetail.StartTime}}" disabled="true">-->
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="studentname" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="studentname" name="studentname" placeholder="Full Name" ng-model="formData.studentname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="studentnumber" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" id="studentnumber" name="studentnumber" placeholder="Mobile Number" ng-model="formData.studentphone">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="studentemail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="studentemail" name="studentemail" placeholder="Email" ng-model="formData.studentemail">
                        </div>
                      </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                              <a href="#/bookings/" type="submit" class="btn btn-default">Go Back</a>
                            </div>
                            <div class="col-sm-2">
                               <button class="btn btn-default" type="submit" id="submit" value="Submit">Book Lesson</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.bs-example -->
            </div>
    
        </div>
    </div>
</div>